
html{
  position: relative;
  padding: 0.2em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(21, 67, 207), #3eabb5);
  background: linear-gradient(to right, rgb(46, 212, 218), #1ab2c0);
  color:rgb(19, 10, 10);
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(28, 9, 9, 0.56);
}

h2{
  color: #fbff00;
  border-top: #dbf801;
  border-bottom: #e5f506;
  
}