html{
    position: relative;
    padding: 0.2em 0.5em;
    background: -webkit-linear-gradient(to right, rgb(155, 60, 176), #f4feff);
    background: linear-gradient(to right, rgb(255, 204, 241), #f4feff);
    color:rgb(19, 10, 10);
    font-weight: lighter;
    box-shadow: 0 0 4px rgba(28, 9, 9, 0.56);
}

h1{
    color: #c20feb;
    border-top: #dc4daa;
    border-bottom: #e46cc8;
    
}